div.main {
    width: 100%;
}
div.center {
    width: 85%;
    margin: 0 auto;
}
div.text-center {
    text-align: center;
}
div.country {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: -0.5em;
    cursor:pointer;
}
div.airport {
    font-size: 1.25em;
}
div.row div.col-sm-4, .country-runway {
    border: 1px solid grey;
    padding: 0.25em;
    margin: 0.1em;
    width: 33%;
}
div.country-runway{
    margin-bottom: 1em;
    padding-left: 1em;
    min-height: 10em;
}
div.country-runway div.country{
    margin-left: 0;
}
div.runway {
    margin-left: 2em;
    font-size: 1em;
}
div.none {
    font-style: italic;
}
input.btn-lg {
    padding-left: 0.5em;
}
span.badge {
    margin-left: 1em;
}
li span.badge {
    margin-right: 2em;
    float: right;
    min-width: 3em;
}
div.backtohome{
    margin: 1em 0.5em;
}